*.pyc
*.psd
*.psb
__pycache__/
media/*
!media/problem_1.jpg
!media/loose_thombnail.jpg
!media/icon_design.jpg
!media/Logo.png
!media/env2.jpg
!media/main.jpg
!media/intro.jpg
apps/*
env/*
test/*
!env/requirements.txt
